<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="EventsEntities" connectionString="metadata=res://*/EventsModel.csdl|res://*/EventsModel.ssdl|res://*/EventsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=em-database.synapsedev.com;Initial Catalog=EMPOC_XBRC;Persist Security Info=True;User ID=EMUser;Password=Mayhem!23;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <appSettings>
    <add key="ConnectionURL" value="tcp://esb-dev.synapsedev.com:2506"/>
    <add key="ESB_Username" value="Administrator"/>
    <add key="ESB_Password" value="Administrator"/>
    <add key="ESB_Topics" value="com.synapse.parksimulator,simulatorMessageReader2;com.synapse.xbrc,xbrcMessageReader2"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
