<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SimulatorEntities" connectionString="metadata=res://*/SimulatorModel.csdl|res://*/SimulatorModel.ssdl|res://*/SimulatorModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=Simulator;persist security info=True;user id=EMUser;password=Mayhem!23;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="IdmsEntities" connectionString="metadata=res://*/IdmsModel.csdl|res://*/IdmsModel.ssdl|res://*/IdmsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=IDMS;persist security info=True;user id=EMUser;password=Mayhem!23;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>