<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>75785510164-ohgdaldujf6amtl95vfca10fs1ltnu41.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.75785510164-ohgdaldujf6amtl95vfca10fs1ltnu41</string>
	<key>API_KEY</key>
	<string>AIzaSyCUsfHEmKxajhtPpcLtcnhkP31rucU2DBg</string>
	<key>GCM_SENDER_ID</key>
	<string>75785510164</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nebari.penchant</string>
	<key>PROJECT_ID</key>
	<string>penchant-b3980</string>
	<key>STORAGE_BUCKET</key>
	<string>penchant-b3980.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:75785510164:ios:48a331dd63f7520b577601</string>
	<key>DATABASE_URL</key>
	<string>https://penchant-b3980.firebaseio.com</string>
</dict>
</plist>