USE [master]
GO

/****** Object:  Database [EMPOC_DEMO]    Script Date: 08/19/2011 15:03:41 ******/
IF  EXISTS (SELECT name FROM sys.databases WHERE name = N'EMPOC_DEMO')
DROP DATABASE [EMPOC_DEMO]
GO

/****** Object:  Database [EMPOC_DEMO]    Script Date: 08/19/2011 14:59:03 ******/
CREATE DATABASE [EMPOC_DEMO] ON  PRIMARY 
( NAME = N'EMPOC_DEMO', FILENAME = N'C:\Data\EMPOC_DEMO\EMPOC_DEMO.mdf' , SIZE = 102400KB , MAXSIZE = UNLIMITED, FILEGROWTH = 102400KB )
 LOG ON 
( NAME = N'EMPOC_DEMO_log', FILENAME = N'C:\Data\EMPOC_DEMO\EMPOC_DEMO_log.ldf' , SIZE = 102400KB , MAXSIZE = 2048GB , FILEGROWTH = 102400KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EMPOC_DEMO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
