USE [master]
GO

/****** Object:  Database [EMPOC_INT]    Script Date: 08/19/2011 15:03:41 ******/
IF  EXISTS (SELECT name FROM sys.databases WHERE name = N'EMPOC_INT')
DROP DATABASE [EMPOC_INT]
GO

/****** Object:  Database [EMPOC_INT]    Script Date: 08/19/2011 14:59:03 ******/
CREATE DATABASE [EMPOC_INT] ON  PRIMARY 
( NAME = N'EMPOC_INT', FILENAME = N'C:\Data\EMPOC_INT\EMPOC_INT.mdf' , SIZE = 102400KB , MAXSIZE = UNLIMITED, FILEGROWTH = 102400KB )
 LOG ON 
( NAME = N'EMPOC_INT_log', FILENAME = N'C:\Data\EMPOC_INT\EMPOC_INT_log.ldf' , SIZE = 102400KB , MAXSIZE = 2048GB , FILEGROWTH = 102400KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EMPOC_INT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
