<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="GuestUrl" value="http://10.75.3.xxx:8080/Xview/guests" />
    <add key="XBandUrl" value="http://10.75.3.xxx:8080/Xview/guests/" />
  </appSettings>
<connectionStrings><add name="MayhemEntities" connectionString="metadata=res://*/Mayhem.csdl|res://*/Mayhem.ssdl|res://*/Mayhem.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=em-database.synapsedev.com;User Id=root;password=password11;Persist Security Info=True;database=mayhem&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>