USE [Simulator]
GO
/****** Object:  Table [dbo].[StandByCounts]    Script Date: 12/04/2011 16:56:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[StandByCounts](
	[Attraction Name] [varchar](50) NULL,
	[LI Loc Short Name] [varchar](50) NULL,
	[915] [varchar](50) NULL,
	[930] [varchar](50) NULL,
	[945] [varchar](50) NULL,
	[1000] [varchar](50) NULL,
	[1015] [varchar](50) NULL,
	[1030] [varchar](50) NULL,
	[1045] [varchar](50) NULL,
	[1100] [varchar](50) NULL,
	[1115] [varchar](50) NULL,
	[1130] [varchar](50) NULL,
	[1145] [varchar](50) NULL,
	[1200] [varchar](50) NULL,
	[1215] [varchar](50) NULL,
	[1230] [varchar](50) NULL,
	[1245] [varchar](50) NULL,
	[1300] [varchar](50) NULL,
	[1315] [varchar](50) NULL,
	[1330] [varchar](50) NULL,
	[1345] [varchar](50) NULL,
	[1400] [varchar](50) NULL,
	[1415] [varchar](50) NULL,
	[1430] [varchar](50) NULL,
	[1445] [varchar](50) NULL,
	[1500] [varchar](50) NULL,
	[1515] [varchar](50) NULL,
	[1530] [varchar](50) NULL,
	[1545] [varchar](50) NULL,
	[1600] [varchar](50) NULL,
	[1615] [varchar](50) NULL,
	[1630] [varchar](50) NULL,
	[1645] [varchar](50) NULL,
	[1700] [varchar](50) NULL,
	[1715] [varchar](50) NULL,
	[1730] [varchar](50) NULL,
	[1745] [varchar](50) NULL,
	[1800] [varchar](50) NULL,
	[1815] [varchar](50) NULL,
	[1830] [varchar](50) NULL,
	[1845] [varchar](50) NULL,
	[1900] [varchar](50) NULL,
	[1915] [varchar](50) NULL,
	[1930] [varchar](50) NULL,
	[1945] [varchar](50) NULL,
	[2000] [varchar](50) NULL,
	[2015] [varchar](50) NULL,
	[2030] [varchar](50) NULL,
	[2045] [varchar](50) NULL,
	[2100] [varchar](50) NULL,
	[2115] [varchar](50) NULL,
	[2130] [varchar](50) NULL,
	[2145] [varchar](50) NULL,
	[2200] [varchar](50) NULL,
	[2215] [varchar](50) NULL,
	[2230] [varchar](50) NULL,
	[2245] [varchar](50) NULL,
	[2300] [varchar](50) NULL,
	[2315] [varchar](50) NULL,
	[2330] [varchar](50) NULL,
	[2345] [varchar](50) NULL,
	[2400] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
