USE [Simulator]
GO
/****** Object:  Table [sim].[xViewLocation]    Script Date: 12/04/2011 16:56:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [sim].[xViewLocation](
	[xViewLocationID] [int] IDENTITY(1,1) NOT NULL,
	[xViewURL] [nvarchar](256) NOT NULL,
	[xViewFriendlyName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_xViewLocation] PRIMARY KEY CLUSTERED 
(
	[xViewLocationID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [AK_xViewLocation] UNIQUE NONCLUSTERED 
(
	[xViewURL] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
