<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="IDMSEntities" connectionString="metadata=res://*/Data.IDMSModel.csdl|res://*/Data.IDMSModel.ssdl|res://*/Data.IDMSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.65;initial catalog=IDMS;persist security info=True;user id=EMUser;password=Mayhem!23;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="GxpOffersetUrl" value="http://10.75.2.186:8082/gxp-web/services/offerset/xpass-offerset"/>
    <add key="GxpBookOffersetUrl" value="http://10.75.2.186:8082/gxp-web/services/booking/xpass/offer"/>
  </appSettings>
</configuration>
