<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings xdt:Transform="Replace">
    <add name="ApplicationServices"
      connectionString="Data Source=localhost;Initial Catalog=aspnetdb;Integrated Security=True"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="IDMSEntities" connectionString="metadata=res://*/Data.IDMSModel.csdl|res://*/Data.IDMSModel.ssdl|res://*/Data.IDMSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.65;initial catalog=IDMS;persist security info=True;user id=EMUser;password=Mayhem!23;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="GXP" connectionString="User Id=gxptest;Password=password;Data Source=192.168.0.62;Pooling=False;PERSIST SECURITY INFO=True"
       providerName="System.Data.OracleClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>

  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <appSettings>
    <add key="GxpOffersetUrl" value="http://10.75.2.186:8082/gxp-web/services/offerset/xpass-offerset"/>
    <add key="GxpBookOffersetUrl" value="http://10.75.2.186:8082/gxp-web/services/booking/xpass/offer"/>
  </appSettings>
</configuration>